<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.collectionplus">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.StartPageActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".View.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.AddActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".View.RegisterActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.MainActivity.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".View.TextActivity"
            android:exported="true" />
        <activity android:name=".View.ForgetActivity"/>
        <activity android:name=".View.ForgetActivity2"/>
        <activity android:name=".View.LoginActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.MainActivity.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".View.ChangeActivity" />
        <activity android:name=".View.NoteActivity"></activity>
        <activity android:name=".View.HistoryActivity"/>

        <receiver
            android:name=".Helper.AlarmReciver"
            android:enabled="true"
            android:exported="true"
            android:process=":newinst">

            <!-- 静态注册广播 -->
            <!-- intent过滤器,指定可以匹配哪些intent, 一般需要定义action 可以是自定义的也可是系统的 -->
            <intent-filter>
                <!-- action -->
                <action android:name=".View.MainActivity" />
                <action android:name=".View.TimerActivity"/>
            </intent-filter>
        </receiver>

        <activity android:name=".View.TimerActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
    </application>

</manifest>